<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between">
  <h1>Answers</h1>
  <div class="">
    <%= link_to "New answer", new_answer_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="table-group-divider mt-4 mb-4"></div>

<div id="answers">

  <% @answers.each do |answer| %>
    <div class="card shadow border-0 rounded-2 mb-3">
      <div class="card-header bg-white">
        <div class="card-body">
          <%= render answer %>
          <%= link_to "Show this answer", answer %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="d-flex justify-content-center mb-5">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
